{% extends 'base.html' %}
{% block content %}
    <div class="feed_container">Edit the ticket</div>
    
    <div class="ticket_and_review_block notcentered" style="flex-direction: column;">
        <div>
            <form method="post" enctype="multipart/form-data">
                {{ edit_ticket.as_p }}
                {% csrf_token %}
                <button type="submit" class="button">Update</button>
            </form>
        </div>


        <div class="feed_container">Delete the ticket</div>

        <div>
            <form method="post">
                {{ delete_ticket }}
                {% csrf_token %}
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
{% endblock content %}